<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title | default: site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li><a href="{{ "/" | absolute_url }}">Main page</a></li>
          <li><a href="{{ "/resources/" | absolute_url }}">Resources</a></li>
          <li><a href="{{ "/resources/ESLint/" | absolute_url }}">ESLint configurations</a></li>
          <li><a href="{{ "/good-practices.html" | absolute_url }}">JS good practices</a></li>
          {% if site.show_downloads %}
            <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
            <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
            <li class="title">DOWNLOADS</li>
          {% endif %}
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>
            {% if page.title %}
              {{ page.title }}
            {% else %}
              {{ site.title | default: site.github.repository_name }}
            {% endif %}
          </h1>
          <p>
            {% if page.description %}
              {{ page.description }}
            {% else %}
              {{ site.description | default: site.github.project_tagline }}
            {% endif %}
          </p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
    
    <script type="text/javascript"><!--
      "use strict";
      // Make header disappear https://osvaldas.info/auto-hide-sticky-header
      let wScrollBefore = 0;
      const headerElm = document.getElementById("header");
      const hiddenClassTag = "--hidden";

      window.addEventListener("scroll", function() {

        const wScrollCurrent = window.pageYOffset,
              wScrollDiff = wScrollBefore - wScrollCurrent;

        if (
          wScrollCurrent <= 0 ||  // scrolled to the very top; element sticks to the top
          wScrollDiff > 0  // scrolled up; element slides in
        )
          headerElm.classList.remove(hiddenClassTag);
        else if (wScrollDiff < 0) // scrolled down
          headerElm.classList[wScrollCurrent + window.innerHeight >= document.body.offsetHeight
            ? "add" // scrolled to the very bottom; element slides in
            : "remove" // scrolled down; element slides out
          )](hiddenClassTag);

        wScrollBefore = wScrollCurrent;

      });
    --></script>
  </body>
</html>
